.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

h1 {
    text-align: center;
    font-size: 3rem;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    width: 3em;
    height: 1em;
    background-color: transparent;
    border: black 2px solid;
    border-radius: 5px;
    user-select: none;
    text-align: center;
    transition: 0.5s;
}

a:hover {
    cursor: pointer;
    transform: scale(1.05);
}

a:active {
    transform: scale(1.0);
    transition: 0.1s;
}

input {
    height: 2em;
    display: block;
    margin: 1rem 0;
}

span {
    display: block;
}
